@import url('https://fonts.googleapis.com/css2?family=Inter:ital,opsz,wght@0,14..32,100..900;1,14..32,100..900&display=swap');
@import "tailwindcss";

@font-face {
    font-family: 'KyivType Titling';
    font-style: normal;
    font-weight: 300;
    font-display: swap;
    src: url('/KyivTypeTitling-Light2.otf') format('opentype');
}
@font-face {
    font-family: 'KyivType Titling';
    font-style: normal;
    font-weight: 700;
    font-display: swap;
    src: url('/KyivTypeTitling-Bold2.otf') format('opentype');
}
@font-face {
    font-family: 'KyivType Titling';
    font-style: normal;
    font-weight: 900;
    font-display: swap;
    src: url('/KyivTypeTitling-Heavy2.otf') format('opentype');
}
@font-face {
    font-family: 'The Youngest Serif';
    font-style: normal;
    font-weight: 400;
    font-display: swap;
    src: url('/The Youngest Serif-D.ttf') format('truetype');
}

@theme {
  --font-kyivtype: "KyivType Titling", serif;
  --font-youngest: "The Youngest Serif", serif;
  --color-dusk-red: #AC3E3E;
  --font-inter: "Inter", sans-serif;
}
